/target/
logs/planeta.log
archivos/satelites/sateliteVenus.dat
archivos/satelites/sateliteUrano.dat
archivos/satelites/sateliteTierra.dat
archivos/satelites/sateliteSaturno.dat
archivos/satelites/sateliteNeptuno.dat
archivos/satelites/sateliteMercurio.dat
archivos/satelites/sateliteMarte.dat
archivos/satelites/sateliteJúpiter.dat
archivos/planetasPropiedades/8_Neptuno.bin
archivos/planetasPropiedades/7_Urano.bin
archivos/planetasPropiedades/6_Saturno.bin
archivos/planetasPropiedades/5_Júpiter.bin
archivos/planetasPropiedades/4_Marte.bin
archivos/planetasPropiedades/3_Tierra.bin
archivos/planetasPropiedades/2_Venus.bin
archivos/planetasPropiedades/1_Mercurio.bin
archivos/planetas.txt
